* {
    padding: 0;
    margin: 0;
}
header {
    background-color: rgba(81, 109, 146, 0.856);
    height: 80px;
    width:100%;
    position: fixed;
}
h1{
    color: rgb(255, 255, 255);
    position:absolute;
    left: 120px;
    top:0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header ul {
    position:absolute;
    right: 5vw;
    top:0;
    line-height: 80px;
}
.slogan {
    background-color: rgb(255, 255, 255);
    color: rgb(81, 109, 146);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}
.appointment p {
    font-size: 21px;
}
.appointment button {
    background-color: transparent;
    color: black;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.appointment {
    background-color: rgb(193, 217, 247);
    color: rgb(15, 14, 14);
    padding: 60px 0;
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
.home{
    background-color: rgb(255, 255, 255);
    color: rgb(15, 14, 14);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-left: 4vw;
}
.doc {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.word {
    font-size: 22px;
    margin-left: 4vw;
}
@media screen and (max-width: 768px) {
    header li{
        font-size: 14px;
        margin-left: -2vw;
    }
    header h1 {
        margin-left: -22vw;
        font-size: 21px;
    }
    .slogan {
        font-size: 25px;
        height: 40vh;
    }
    .home {
        font-size: 19px;
    }
    .word {
        font-size: 19px;
    }
    .appointment p {
        font-size: 18px;
    }
}

.footer {
    background-color: rgb(105, 139, 184);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 5vh;
    color: white;
}